@charset "utf-8";/* CSS Document */

#s{
	
	
	width:300px;
	height:400px;
	left:800px;
	top:100px;
	color:#000000;

	position:absolute;
	
	}


	
	
#w{
		width:1200px;
	height:600px;
	left:360px;
	top:100px;
	

	position:absolute;5

			
			}
			#s1{
				top:60px;
				position:absolute;
				
				
				}
				#s4{
					top:500px;
					left:500px;
				position:absolute;
				
					}